# Those are envs that needs to be set in local/production environment.
# .env.example should be only used as a reference. Do not commit any other env files into git.
APPLICATION_MAIN_URL=

GOCARDLESS_SECRET_ID=
GOCARDLESS_SECRET_KEY=
GOCARDLESS_API_URL=

REDIS_URL=

DB_PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

DASHBOARD_USER=
DASHBOARD_PASSWORD=
