# Those are envs that needs to be set in local/production environment.
# .env.example should be only used as a reference. Do not commit any other env files into git.
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
